table, th, td {
    border: 1px solid black;
    font-size: 40px;
    background-color: #dbd2b0;
    color: #1a2324;
}
#tableNames{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    background-color: #476747;
    color: #1a2324;
}
#tableHeader{
    color: darkred;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#statsTitle{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-color: #476747;
    color: #1a2324;
}

#strengthTable, #dexterityTable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


#strengthTable h3, #dexterityTable h3 {
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (min-width:850px){
    .columns {
        display: flex;
    }

  .one{
      flex:1;
  }
  #main-nav{
    flex:1;
  }

  #strengthTable, #dexterityTable {
    width: 90%;
    margin: 20px auto;
}

h3 {
    text-align: center;
}
#toggle-nav {
    display:none;
  }
  .hidden-small {
    display:flex;
  }
}