#add-strength-talismans{
    display:block;
}

#add-dexterity-talismans{
    display:block;
}

#add-mage-talismans{
    display:block;
}

#add-faith-talismans{
    display:block;
}

#add-arcane-talismans{
    display:block;
}