#weaponimages{
    text-align: center;
}

#weaponimages img{
    width: 200px;
    height: 200px;
}

#add-strength-weapons{
    display: block;
}

#add-dexterity-weapons{
    display: block;
}

#add-mage-weapons{
    display: block;
}

#add-faith-weapons{
    display: block;
}

#add-arcane-weapons{
    display: block;
}

#buttons{
    display: block;
}

#Weapons{
    text-align: center;
    background-color: #dbd2b0;
    color: #1a2324;
    
}
#Weapons section{
    height: 100%;
    border: solid 1px black;
    padding-bottom: 5px;
}

#Weapons section a{
    font-size: 20px;
    color: #1A2324;
    text-decoration: none;
}

#Weapons section a:hover{
    color: #3A4B4C;
    text-decoration: underline;
}



@media only screen and (min-width:850px){
    .columns {
      display: flex;
    }

  .one{
      flex:1;
  }

  .columns {
    flex-wrap: wrap;
    }
    
  #Weapons section {
    flex:30%;
}
}