#weaponimages{
    text-align: center;
}

#weaponimages img{
    width: 200px;
    height: 200px;
}

#add-strength-weapons{
    display: block;
}

#add-dexterity-weapons{
    display: block;
}

#add-mage-weapons{
    display: block;
}

#add-faith-weapons{
    display: block;
}

#add-arcane-weapons{
    display: block;
}